.nav-bar-container {
    background: var(--linear-gradient);
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-bar-container ul {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.nav-bar-container ul a {
    text-decoration: none;
}

.nav-bar-container ul a li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}
.nav-bar-container .button {
    padding: 3px;
    border-radius: 10px;
    border: none;
    color: var(--grey-color);
    margin-right: 20px;
    cursor: pointer;
}
@media screen and (min-width: 700px) {
    .nav-bar-container ul a li {
        
        font-size: 1.05rem;
    }
    .nav-bar-container .button {
        padding: 10px;
        width: 200px;
    }
}

