.register-playeur-container {
    overflow: hidden;
    height: 100vh;
    background-color: var(--background-color);


}

.register-playeur-container h1 {
    text-align: center;
    margin-top: 5vh;
    color: var(--grey-color);
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

}

.register-playeur-container .add-playeur-button {
    width: 40%;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
}

.register-playeur-container .add-playeur-button button {
    border: none;
    padding: 1.5vh 0;
    width: 100%;
    border-radius: 5px;
    font-size: 4vw;
    outline: none;
}

.register-playeur-container .card-container  {
    display: flex;
    flex-direction: column;
}
