.show-all-users-container {
  min-height: 100vh;
  overflow: auto;
  background-color: var(--grey-color);
}

.show-all-users-container .header-container {
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
}
.show-all-users-container .header-container .icon {
  font-size: 30px;
  margin-right: 15px;
  cursor: pointer;
}
.show-all-users-container .inputs {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.show-all-users-container .inputs input {
  width: 90%;
  background-color: var(--grey-color);
}

.show-all-users-container .users-container {
  height: 90%;
  overflow: auto;
}

.show-all-users-container .users-container .user-card {
  margin: 15px;
  background-color: var(--background-color);
  border-radius: 15px;
  color: var(--grey-color);
  padding: 15px;
  cursor: pointer;
}

.show-all-users-container .users-container .user-card h2 {
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .show-all-users-container .users-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;

    grid-gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .show-all-users-container .users-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1600px) {
  .show-all-users-container .users-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
