.login-container {
    height: 100vh;
    background-color: var(--background-color);
    overflow: hidden;
}


.login-container .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-container .box h1 {
    color: var(--grey-color);
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

}

.login-container .box form {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.login-container .box form .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.login-container .box form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
}

.login-container .box form .row label {
    margin-bottom: 10px;
    color: var(--grey-color);

}







@media screen and (min-width: 700px) {

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-container .box {
        width: 600px;
        height: 70vh;
        background-color: var(--grey-color);
        border-radius: 20px;
        position: relative;
    }
    .login-container .box h1 {
        color: var(--background-color);
        position: absolute;
        top: 50px;
        left: 75px;

    }

   
.login-container .box form .row label {
        margin-bottom: 10px;
        color: var(--background-color);
    }

    .login-container form .submit-btn {
        position: absolute;
        bottom: 30px;
        width: 90%;
    }

    .login-container form .submit-btn:hover {

        animation: none;
        opacity: 0.9;
    }


}
