.login-container {
    height: 100vh;
    background-color: var(--background-color);

}

.login-container h1 {
    margin: 50px 30px;
    color: var(--grey-color);
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

}

.login-container .form-container {
    color: var(--grey-color);
    display: flex;
    justify-content: center;
}

.login-container form {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.login-container .responsive-container .form-container .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.login-container form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.login-container form .row label {
    margin-bottom: 10px;
    color: var(--grey-color);

}

.login-container form .inputs input {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    width: 70vw;
    border: none;
    padding: 15px 0px 15px 12.5px;
    background-color: #eaeaea;
    border-radius: 8px;
    outline: none;
    margin-bottom: 20px;
    color: var(--background-color)
}

.login-container form .submit-btn {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: white;
    background: var(--linear-gradient);
    border: none;
    padding: 9px 0;
    border-radius: 10px;
    margin-top: 27px;
    font-size: 1.1rem;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}


.login-container form .submit-btn:hover {
    cursor: pointer;
    width: 90%;
    animation: scale 0.15s;
}

@keyframes scale {
    0% {
        transform: scale(1) translateX(-50%);
    }

    50% {
        transform: scale(0.95) translateX(-50%);
    }

    100% {
        transform: scale(1) translateX(-50%);
    }
}


@media screen and (min-width: 630px) {

    .login-container h1 {
        margin: 50px 60px;
        color: var(--background-color);
        text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

    }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .login-container .responsive-container {
        position: relative;
        height: 650px;
        background-color: var(--grey-color);
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
        width: 600px;
        border-radius: 20px;
    }

    .login-container .responsive-container .form-container input {
        width: 400px;
    }

    .login-container form .row label {
        margin-bottom: 10px;
        color: var(--background-color);
    }

    .login-container form .submit-btn {
        position: absolute;
        bottom: 30px;
        max-width: 400px;
    }

    .login-container form .submit-btn:hover {

        animation: none;
        opacity: 0.9;
    }


}