.welcome-page-container {
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
}

.welcome-page-container h1 {
    color: var(--grey-color);
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100px;
    left: 60px;
}

.welcome-page-container .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-page-container .box a {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 75px;
    color: var(--blue-color);
    margin: 50px;
}

.welcome-page-container .box a button {
    font-size: 1.05rem;
    width: 60%;
    border-radius: 10px;
    border: none;
    height: 100%;
    background: var(--linear-gradient);
    color: white;
}


@media screen and (min-width: 630px) {
    .welcome-page-container {
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .welcome-page-container .box {
        width: 600px;
        height: 70vh;
        background-color: var(--grey-color);
        border-radius: 20px;
        position: relative;
    }

    .welcome-page-container .box h1 {
        color: var(--background-color);
        position: absolute;
        top: 50px;
        left: 75px;
    }

    .welcome-page-container .box button {
       
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    }

    .welcome-page-container .box button:hover {
        opacity: 0.9;
    }
}