.welcome-page-container {
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;
}
.welcome-page-container .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-page-container .box  h1 {
    color: var(--grey-color);
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.welcome-page-container .box .buttons {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;    
}

.welcome-page-container .box .buttons a {
    width: 70%;
}




.welcome-page-container .box .buttons button {
    background-color: green;
    font-size: 1.7vh;
    padding: 20px 0;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: var(--grey-color);
    background: var(--blue-color);
}

.welcome-page-container .box .buttons .admin {
    text-align: center;
    color: var(--grey-color);
}



@media screen and (min-width: 700px) {
    .welcome-page-container {
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .welcome-page-container .box {
        width: 600px;
        height: 70vh;
        background-color: var(--grey-color);
        border-radius: 20px;
        position: relative;
    }

    .welcome-page-container .box h1 {
        color: var(--background-color);
        position: absolute;
        top: 50px;
        left: 75px;
    }

    .welcome-page-container .box button {
       
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    }

    .welcome-page-container .box button:hover {
        opacity: 0.9;
    }

    .welcome-page-container .box a:last-child {
        color: var(--background-color);
        text-decoration: none;
        position: absolute;
        bottom: 30px;
    }

    .welcome-page-container .box .buttons .admin {
        color: var(--background-color);
    }
}