.logout-container {
    position: fixed;
    top: 50px;
    right: 75px
}

.logout-container .settings-icon {
    font-size: 30px;
    color: var(--grey-color)
}
.logout-container .logout-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}