.show-all-schedules-container {
    height: 100vh;
    background-color: var(--grey-color);
}

.show-all-schedules-container .schedules-container {
    height: 80%;
    margin-top: 50px;
}

@media screen and (min-width: 800px) {


    .show-all-schedules-container .schedules-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-auto-rows: 200px; */

        grid-gap: 10px;
    }

    .show-all-schedules-container .schedules-container h1 {
        position: absolute;
    }
    .show-all-schedules-container .schedules-container > div {
        break-inside: avoid;
      }

}
@media screen and (min-width: 1200px) {


    .show-all-schedules-container .schedules-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1600px) {


    .show-all-schedules-container .schedules-container {
        grid-template-columns: repeat(4, 1fr);
    }

}